.Profile{
    background-color: tomato;
    color: white;
    padding: 10px;
}
head{
    background-color: aliceblue;
}
body{
    background-image: url("photo.jpg");
}
h1{
    color: mediumseagreen;
    text-align: center;
}
.immage{
    image-orientation: center;
}