.Profile{
    background-color: tomato;
    color: white;
    padding: 10px;
}
.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}
div {
    text-align: center;
    width: 320px;
    padding: 10px;
    border: 5px solid gray;
    border-radius: 8px;
    margin: 0;
  }
head{
    background-color: aliceblue;
}
body{
    background-image: url("photo.jpg");
}
h1{
    color: mediumseagreen;
    text-align: center;
}
.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}