.Profile{
    background-color: tomato;
    color: white;
    padding: 10px;
}
head{
    background-color: aliceblue;
}
body{
    background-color: brown;
}
h1{
    color: mediumseagreen;
    text-align: center;
}